<!DOCTYPE html>
<html lang="en">
    <!--Head Section-->
    <%- include("./partials/head.ejs") %>
<body>

    <!-- Header Section -->
    <%- include("./partials/header.ejs") %>

    <!-- Main Content -->
    <main>
        <div class="container">
             <h1>404 - OOPS!</h1>
             <h2>That page does not exist</h2>
        </div>
    </main>

    <!-- Footer Section -->
    <%- include("./partials/footer.ejs") %>
</body>
</html>
