<!DOCTYPE html>
<html lang="en">
    <!--Head Section-->
    <%- include("./partials/head.ejs") %>
<body>

    <!-- Header Section -->
    <%- include("./partials/header.ejs") %>

    <!-- Main Content -->
    <main>
        <div class="container">

            <section class="post-list">
                <h2>Recent Posts</h2>
                <div id="postsContainer"></div>
            </section>
        </div>
    </main>

    <!-- Footer Section -->
    <%- include("./partials/footer.ejs") %>
</body>
</html>
